# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
.pnp
.pnp.js
package-lock.json

# Build
dist/
dist-ssr/

# Test
coverage/

# Environment
.env
.env.local
.env.*.local
.env.production
.env.development

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Superpowers
.superpowers/
.vercel
.env*.local
